// Projects

.projects {
    .container {
        position: relative;
    }

    padding-bottom: 70px;

    .projects_side {
        font-family: $poppins;
        // font-weight: $bold;
        opacity: 0;
        position: absolute;
        left: calc(100% - 200px);
        top: 500px;
        transform: rotate(90deg);
        font-size: 150px;
        text-transform: uppercase;

        @media(max-width: 1800px) {
            font-size: 120px;
        }

        @media(max-width: 1600px) {
            left: calc(100% - 165px);
            font-size: 80px;
        }

        @media(max-width: 1400px) {
            display: none;
        }
    }

    .projects_title {
        font-size: 60px;
        line-height: 130%;
        margin: 60px auto;
        text-align: center;
        text-transform: uppercase;
        @include font($dmsans, $bold, $blue_color);

        @media(max-width: 600px) {
            font-size: 40px;
            margin: 40px auto;
        }

        @media(max-width: 400px) {
            font-size: 30px;
            margin: 40px auto;
        }
    }

    .proj_t {
        display: none;

        @media(max-width: 1400px) {
            display: block;
        }
    }

    .projects_block {
        display: flex;
        flex-direction: column;
        gap: 300px;

        @media(max-width: 800px) {
            gap: 100px;
        }

        .proj1 {
            position: relative;
            perspective: 1000px;
            display: flex;
            gap: 30px;
            align-items: center;
            justify-content: space-between;
            transition: 1s linear;

            @media(max-width: 800px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &:nth-child(even) {
                    flex-direction: column-reverse;
                }
            }

            .project_card {
                cursor: pointer;
                width: 550px;
                max-height: 400px;


                @media (max-width: 900px) {
                    width: 400px;
                }

                @media (max-width: 400px) {
                    width: 100%;
                }

                .project_image {
                    overflow: hidden;
                    width: 550px;
                    height: 350px;

                    @media (max-width: 900px) {
                        width: 400px;
                        height: 300px;
                    }

                    @media(max-width: 400px) {
                        height: 240px;
                        width: 100%;
                    }

                    transition: box-shadow .2s linear;

                    &:hover {
                        box-shadow: 0 0 7px 2px #719eff;
                    }

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center top;
                        transition: all .7s linear;

                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }

                .some_text {
                    overflow: hidden;
                    width: 550px;
                    height: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 28px;
                    text-transform: uppercase;
                    background-image: url(../img/priroda.png);
                    background-size: cover;
                    background-position: center;
                    background-blend-mode: multiply;

                    background-color: rgb(32, 32, 32);

                    @media (max-width: 900px) {
                        width: 400px;
                    }

                    @media(max-width: 400px) {
                        width: 100%;
                    }
                    transition: background-color .3s linear;

                    &:hover {
                        background-color: #646464;
                        
                    }

                    a {
                        transition: .2s linear;
                        color: $white_color;
                        letter-spacing: 2.5px;
                        display: block;
                        text-align: center;
                        opacity: .5;

                        &:hover {
                            transform: scale(1.05);
                            opacity: 1;
                        }
                    }

                }
            }

            .proj_description {
                max-width: 500px;
                font-size: 24px;
                // font-weight: bold;
                text-align: center;
                opacity: 0;

                @media(max-width: 1100px) {
                    font-size: 20px;
                    max-width: 400px;
                }

                @media(max-width: 800px) {
                    opacity: 1;
                }

                @media(max-width: 700px) {
                    max-width: 400px;
                    font-size: 18px;
                }
            }
        }

        .opt {
            display: none;
        }
    }

    .btn_load_more {
        // width: 150px;
        margin-top: 100px;
    }
}

.proj_main {
    padding-top: 200px;

    @media(max-width: 1400px) {
        padding-top: 0;
    }
}


// projects  animation

.show_projects_side {
    animation: proj_side 3s linear forwards;
}

@keyframes proj_side {
    0% {
        top: 300px;
    }

    100% {
        opacity: 1;

    }
}



// card animation

.card_back {
    overflow: hidden;

    .project_image {
        animation: proj_image_anim 1s linear forwards;
    }

    #some_text {
        transform: rotateY(180deg);
        animation: card_back_anim 1s linear forwards;
    }

    .project_title {
        transform: rotateY(180deg);
    }
}

@keyframes proj_image_anim {
    0% {}

    50% {
        height: 350px;
    }

    100% {
        height: 0;
        opacity: 0;
    }
}

@keyframes card_back_anim {
    0% {}

    50% {
        height: 0;
    }

    100% {
        height: 350px;
    }
}

.card_rotate_180_right {
    transition: 1s linear;
    transform: rotateY(-220deg);
}

.card_rotate_180_left {
    transition: 1s linear;
    transform: rotateY(220deg);
}

.card_rotate_360 {
    transition: 1s linear;
    transform: rotateY(0deg);
}

.project1_animation {
    animation: proj_anim 1s ease-out forwards;

    @media(max-width: 800px) {
        animation: none;
    }
}

.project2_animation {
    animation: proj_anim2 1s ease-out forwards;

    @media(max-width: 800px) {
        animation: none;
    }
}

@keyframes proj_anim {
    0% {
        transform: translateX(-280px);
    }

    75% {
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes proj_anim2 {
    0% {
        transform: translateX(280px);
    }

    75% {
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
    }
}