$black_color: #171718;
$white_color: #fff;
$blue_color: rgb(0, 67, 201);
$grey_color: #c7c7c7;
$poppins: 'Poppins';
$dmsans: 'DMSans';
$gentium: 'Gentium';
$regular: 400;
$medium: 500;
$bold: 700;

@mixin font ($font, $weight, $color: $black_color) {
    font-family: $font;
    font-weight: $weight;
    color: $color;
}