@import 'default';
@import 'vars';
@import 'animation';
@import 'project_page';
@import 'skils';
@import 'contacts';
@import 'about';
@import 'projects_section';



html {
    ::-webkit-scrollbar {
        background-color: $black_color;
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $white_color;
        border-radius: 3px;
    }
}

body {
    background: linear-gradient(to right, #f3f3ff, #fff, #f3f3ff);
    @include font($gentium, $regular);
    min-width: 320px;
    letter-spacing: -0.5px;
    // position: relative;

}

.content_wrapper {
    width: 1920px;
    margin: 0 auto;
    position: relative;
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: $white_color;
    padding: 12px 20px;
    font-size: 20px;
    line-height: 24px;
    // text-transform: uppercase;
    @include font($gentium, $bold);
    transition: all .1s linear;

    @media (max-width: 400px) {
        padding: 6px 10px;
    }

    img {
        width: 30px;
    }

    &:active {
        position: relative;
        top: 2px;
    }

    &:hover {
        box-shadow: 0 0 5px 2px $black_color;
    }
}




// header

.header {
    background: linear-gradient(to right, #000, #292929, #000);

    .container {
        padding: 20px 10px;
        position: relative;
        height: 100px;

        .nav_row {
            // perspective: 500px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            @media (max-width: 600px) {
                justify-content: center;
            }

            @media (max-width: 400px) {
                column-gap: 5px;
            }

            .logo {
                display: inline-block;
                margin-right: auto;
                font-size: 40px;
                @include font($poppins, $regular, $white_color);
                letter-spacing: 2.5px;
                font-weight: 500;

                @media(max-width: 800px) {
                    font-size: 32px;
                }

                @media(max-width: 400px) {
                    font-size: 28px;
                }

                span {
                    display: inline-block;
                }
            }
        }
    }

    .nav_list_wrapper {
        ul {
            display: flex;
            gap: 40px;
            font-size: 18px;

            @media(max-width: 700px) {
                font-size: 16px;
                gap: 20px;
            }

            @media(max-width: 560px) {
                display: none;

            }

            li {
                @include font($gentium, $bold, $white_color);
                cursor: pointer;
                position: relative;
                letter-spacing: 1.5px;
                text-transform: uppercase;
            }
        }
    }
}

.mobile_menu {
    position: absolute;
    padding: 0 10px;
    top: 100px;
    left: 0;
    height: 0;
    width: 100%;
    display: flex;
    opacity: 0;
    z-index: 100;

    .mobile_menu_list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 16px;
        text-transform: uppercase;
    }

}

.menu_mobile_img {
    display: none;
    width: 30px;

    @media(max-width: 560px) {
        display: block;

    }
}

// main

.main {
    background: url('../img/main_bg2.jpg');
    background-position: center;
    background-blend-mode: screen;
    background-color: #c7c7c7;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    @media (max-width: 600px) {
        min-height: 500px;
    }

    .container {
        font-weight: bold;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        @media(max-width: 600px) {
            justify-content: center;
            min-height: 100%;
        }

        @media(max-width: 400px) {
            padding: 0;
        }

        .main_wrapper {

            max-width: 700px;
            text-align: center;
            // transform: translateY(-50px);

            @media(max-width: 600px) {
                text-align: center;
            }

            pre {
                font-family: $gentium;
            }

            .main_title {
                font-size: 60px;
                line-height: 140%;
                font-weight: 700;

                span {
                    display: inline-block;
                }

                @media(max-width: 600px) {
                    font-size: 40px;
                    line-height: 120%;
                }

                @media(max-width: 400px) {
                    font-size: 36px;
                    line-height: 120%;
                }
            }

            .main_text {
                font-size: 28px;
                margin-top: 30px;

                span {
                    display: inline-block;
                }

                @media(max-width: 700px) {
                    font-size: 22px;
                }

                @media(max-width: 600px) {
                    font-size: 18px;
                }

                @media(max-width: 430px) {
                    font-size: 14px;
                }
            }
        }
    }
}


// Projects

.projects {
    .container {
        position: relative;
    }

    padding-bottom: 70px;

    .projects_side {
        font-family: $poppins;
        font-weight: $bold;
        opacity: 0;
        position: absolute;
        left: calc(100% - 200px);
        top: 500px;
        transform: rotate(90deg);
        font-size: 150px;
        text-transform: uppercase;

        @media(max-width: 1800px) {
            font-size: 120px;
        }

        @media(max-width: 1600px) {
            left: calc(100% - 165px);
            font-size: 80px;
        }

        @media(max-width: 1400px) {
            display: none;
        }
    }

    .projects_title {
        font-size: 60px;
        line-height: 130%;
        margin: 60px auto;
        text-align: center;
        text-transform: uppercase;
        @include font($dmsans, $bold, $blue_color);

        @media(max-width: 600px) {
            font-size: 40px;
            margin: 40px auto;
        }

        @media(max-width: 400px) {
            font-size: 30px;
            margin: 40px auto;
        }
    }

    .proj_t {
        display: none;

        @media(max-width: 1400px) {
            display: block;
        }
    }

    .projects_block {
        display: flex;
        flex-direction: column;
        gap: 300px;

        @media(max-width: 800px) {
            gap: 100px;
        }

        .proj1 {
            position: relative;
            perspective: 1000px;
            display: flex;
            gap: 30px;
            align-items: center;
            justify-content: space-between;
            transition: 1s linear;

            @media(max-width: 800px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &:nth-child(even) {
                    flex-direction: column-reverse;
                }
            }

            .project_card {
                cursor: pointer;
                width: 550px;
                max-height: 400px;


                @media (max-width: 900px) {
                    width: 400px;
                }

                @media (max-width: 400px) {
                    width: 100%;
                }

                .project_image {
                    overflow: hidden;
                    width: 550px;
                    height: 350px;

                    @media (max-width: 900px) {
                        width: 400px;
                        height: 300px;
                    }

                    @media(max-width: 400px) {
                        height: 240px;
                        width: 100%;
                    }

                    transition: box-shadow .2s linear;

                    &:hover {
                        box-shadow: 0 0 7px 2px #719eff;
                    }

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center top;
                        transition: all .7s linear;

                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }

                .some_text {
                    overflow: hidden;
                    width: 550px;
                    height: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 28px;
                    text-transform: uppercase;
                    background-image: url(../img/priroda.png);
                    background-size: cover;
                    background-position: center;
                    background-blend-mode: multiply;

                    background-color: rgb(32, 32, 32);

                    @media (max-width: 900px) {
                        width: 400px;
                    }

                    @media(max-width: 400px) {
                        width: 100%;
                    }
                    transition: background-color .3s linear;

                    &:hover {
                        background-color: #646464;
                        
                    }

                    a {
                        transition: .2s linear;
                        color: $white_color;
                        letter-spacing: 2.5px;
                        display: block;
                        text-align: center;
                        opacity: .5;

                        &:hover {
                            transform: scale(1.05);
                            opacity: 1;
                        }
                    }

                }
            }

            .proj_description {
                max-width: 500px;
                font-size: 24px;
                font-weight: bold;
                text-align: center;
                opacity: 0;

                @media(max-width: 1100px) {
                    font-size: 20px;
                    max-width: 400px;
                }

                @media(max-width: 800px) {
                    opacity: 1;
                }

                @media(max-width: 700px) {
                    max-width: 400px;
                    font-size: 18px;
                }
            }
        }

        .opt {
            display: none;
        }
    }

    .btn_load_more {
        // width: 150px;
        margin-top: 100px;
    }
}

.proj_main {
    padding-top: 200px;

    @media(max-width: 1400px) {
        padding-top: 0;
    }
}


// sertificate

.sertificate {
    padding-bottom: 60px;

    .sertificate_title {
        opacity: 0;
        text-align: center;
        font-size: 60px;
        line-height: 130%;
        margin: 60px auto 120px;
        text-transform: uppercase;
        @include font($dmsans, $bold, $blue_color);

        @media(max-width: 600px) {
            font-size: 40px;
        }

        @media(max-width: 400px) {
            font-size: 30px;
            margin: 0 auto 60px;
        }
    }

    .sertificate_block {
        display: flex;
        flex-direction: column;
        gap: 60px;
        align-items: center;

        .sert_img {
            opacity: 0;
            max-width: 700px;
            cursor: pointer;
            overflow: hidden;
            border: 1px solid #c7c7c7;

            @media(max-width: 600px) {
                opacity: 1;
            }

            img {
                // height: 100%;
                object-fit: cover;
                object-position: center;
                display: block;
                transition: all .5s linear;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        a {
            img {
                height: 20px;
            }

        }
    }
}

// footer

.footer {
    background: linear-gradient(to right, #000, #292929, #000);
    color: $white_color;
    padding: 20px 0;

    @media(max-width: 600px) {
        padding: 30px 0;
    }

    .footer_wrapper {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        .socials_wrapper {
            display: flex;
            gap: 30px;
            justify-content: center;
            align-items: center;

            @media(max-width:600px) {
                gap: 20px;
            }

            @media(max-width:400px) {
                gap: 10px;
            }

            .social {
                position: relative;
                transition: all .1s linear;
                width: 40px;
                opacity: .6;

                @media(max-width: 600px) {
                    width: 28px;
                }

                &:hover {
                    opacity: 1;
                }

                &:active {
                    top: 2px;
                }

            }
        }

        .rights {
            line-height: 150%;
            @include font($dmsans, $regular, $white_color);
            text-align: center;
            opacity: .6;
            transition: all .1s linear;
            @media(max-width: 400px) {
                font-size: 15px;
            }

            &:hover {
                opacity: 1;
            }
        }

        .heart_wrapper {
            cursor: pointer;
            height: 30px;
            position: absolute;
            top: calc(50% - 15px);
            left: 170px;
            transition: transform .2s linear;

            @media(max-width: 400px) {
                left: 160px;
            }

            &:hover {
                transform: scale(1.1);
            }
        }

    }

}

// прижимаем футер к низу

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.footer {
    margin-top: auto;
}